# These are defined in the top level .env, but required by the dashboard-worker
# app.
DB_HOST=
DB_USER=
DB_PWD=
DB_DATABASE=
SEARCH_SERVICE=

# The following are required by the dashboard-worker app, and can be added to
# the top level .env

# Port for dashboard-worker app
WORKER_PORT=3001

# Connection string for pgboss db; example connects to local docker-compose
# instance
PG_BOSS_DB_URL=postgres://postgres:password@localhost/pgboss
